.btn {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: aqua;
  border: 1px solid aqua;
  color: #fff;
}
.btn.success {
  background-color: #198754;
  border-color: #198754;
}
.btn.outline {
  color: aqua;
  background-color: transparent;
  border: 1px solid aqua;
}
.btn.success.outline {
  color: #198754;
  background-color: transparent;
  border-color: #198754;
}
